/* CSS Document */
body{
      background-image: url('../images/Metawall.jpg');
      height: 150%;
      overflow-x: hidden;
}
header{
      background-color: black;
      height: 10%;
      margin-bottom: 0.5%;
      color: gray;
      border-radius: 20px;
      padding-left: 2%;
      
}

.img{
      padding-bottom: 2em;
}

.eins img{
width: 75%;
position: relative;
left: 12%;
border-radius: 20px; 
top:2px; 
box-shadow: 0 10px 20px rgba(0,0,0,0.3);
transform: translateZ(0); 
top: 1.3em;
transition: box-shadow 0.3s ease;
}

.zwei img{
      width: 60%;
      position: relative;
      left: 18%;
      border-radius: 20px; 
      top:2px; 
      box-shadow: 0 10px 20px rgba(0,0,0,0.3);
      transform: translateZ(0); 
      top: 1.3em
      }

.drei img{
      width: 80%;
      position: relative;
      left: 9%;
      border-radius: 20px; 
      box-shadow: 0 10px 20px rgba(0,0,0,0.3);
      transform: translateZ(0); 
      top: 1.3em
      }

      
.vier img{
      width: 80%;
      position: relative;
      left: 9%;
      border-radius: 20px; 
      box-shadow: 0 10px 20px rgba(0,0,0,0.3);
      transform: translateZ(0); 
      top: 1.3em
      }

      
.fünf img{
      width: 80%;
      position: relative;
      left: 9%;
      border-radius: 20px; 
      box-shadow: 0 10px 20px rgba(0,0,0,0.3);
      transform: translateZ(0); 
      top: 1.3em
      }

      
.sechs img{
      width: 80%;
      position: relative;
      left: 9%;
      border-radius: 20px; 
      box-shadow: 0 10px 20px rgba(0,0,0,0.3);
      transform: translateZ(0); 
      top: 1.3em
      }




.n{
      position: relative;
      font-size: 2.5em;
      padding: 1%;
      padding-right: 1%;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-weight: bold;
}

.mnt{
      background-color: black;
      text-align: center;
      border-radius: 9px;
      box-shadow: 0 10px 20px rgba(0,0,0,0.6);


}
.maintext
{
      color: aliceblue;
      font-family: Arial, Helvetica, sans-serif;
      font-size: larger;
}


.Shop{
      position: relative;
      background-color: gray;
      margin: 2%;
      border: 0.1em solid black;
      font-weight: 1000;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      border-radius: 16px;
      box-shadow: 0 10px 20px rgba(0,0,0,0.9);
      transform: translateZ(0);
}

linktext{
      padding-left: 3%;
      color: black;
}

.linktext{
      padding-left: 3%;
      color: black;
}

.linktexteins{
      color: black;
}
.linktextzwei{
      color: black;
}
.linktextdrei{
      color: black;
}
.linktextvier{
      color: black;
}
.linktextfünf{
      color: black;
}

.linktextsechs{
      color: black;
}


.shoptext{
      color: rgb(0, 0, 0);
      text-align: center;
      padding: 4%;
      padding-left: 4%;
      font-size: 130%;
      border: solid black 0.1em;
      margin: 2%;
      background-color: rgb(255, 255, 255);
      font-weight: bold;
      border-radius: 20px; 
      box-shadow: 0 10px 20px rgba(0,0,0,0.8);
      transform: translateZ(0);

}

.shoptsechs{
      padding-bottom: 0.01em ;
}



footer{
      position: relative;
      background-color: rgb(151, 144, 144);
      margin-top: 3.2%;
      padding: 2%;
      width: 99%;
      font-size: larger;
      font-weight: 1000;
      bottom: auto;
      border: 0.7em solid rgb(130, 118, 118);
      border-bottom: 0;
      border-right: 0;
      border-left: 0;
      right: 2%;
      top: 40px;
}

.footer_links{
      position: relative;
     
}

.navtext{
      color: black;
      font-size: 100%;
      padding-left: 2%;
      padding-right: 2%;
      font-weight: 1000;
}

@media (max-width: 500px) {
      .shoptext {  
          position: relative;
          white-space: normal;    
          display: block;  
          padding-left: 2%;
          padding: 2%;
          transform: scale(85%);
      }
  }


@media (max-width: 660px) {
      n {  
          position: relative;
          white-space: normal;    
          display: block;  
          padding-left: 2%;
          padding: 2%;
      }
  }

  @media (min-width: 660px) {
      n {   
      position: relative;
      display: inline;
      text-align: right;
      right: 3%;
      font-size: 50%
      }
      
      .maintext{
            font-size: 2em;
      }

      linktext
      {
            font-size: 2em;
      }
  }

  @media (min-width: 800px){
      header{
            font-size: 150%;
      }


      .Shop {
           display: grid;
           grid-template-columns: repeat(2, 1fr);
           gap: 1em;
           padding: 1em;
           max-width: 1200px;
           margin: 0 auto;
           padding-bottom: 0%;
           overflow: hidden;
        }

        .eins img {
            width: 100%;
            height: auto;
            object-fit: cover;
            transition: transform 0.3s ease;
            left:5%
          }

          .eins img:hover {
            transform: scale(1.05);
            box-shadow: 0 15px 25px rgba(0,0,0,0.6);
          }

          .linktexteins{
            position: relative;
            left: 5%;
      }

      .shopteins{
            position: relative;
            left: -30%;
            bottom: -14.5%;
           }
          

          .zwei img{
            height: auto;
            object-fit: cover;
            transition: transform 0.3s ease;
          }

          .zwei img:hover {
            transform: scale(1.05);
            box-shadow: 0 15px 25px rgba(0,0,0,0.6);
          }

          .linktextzwei{
            position: relative;
            left: 125%;
            bottom:88.6%;
          }

          .shoptzwei{
            position: relative;
            left: -30%; 
            bottom: 70%;
         }

         .drei img{
            position: relative;
            transition: transform 0.3s ease;
            margin-top: -35%;
            left:12.5%;
          }

              .drei img:hover {
                  transform: scale(1.05);
                  box-shadow: 0 15px 25px rgba(0,0,0,0.6);
              }
      

              .linktextdrei{
                  position: relative;
                  left: -95%;
                  bottom: -95%;
              }

              .shoptdrei{
                  position: relative;
                  left: -30%;
                  bottom: -30.5%;
              }

              
            .vier img{
                  position: relative;
                  transition: transform 0.3s ease;
                  margin-top: -59%;
                  left:12.5%;
                }

                .vier img:hover {
                    transform: scale(1.05);
                    box-shadow: 0 15px 25px rgba(0,0,0,0.6);
                }
        

                .linktextvier{
                    position: relative;
                    left: 10%;
                    bottom: -0.4%;
                }

                .shoptvier{
                    position: relative;
                    left: -30%;
                    bottom: 8%;
                }

                .fünf img{
                  position: relative;
                  transition: transform 0.3s ease;
                  margin-top: -7%;
                  left:12.5%;
                }

                .fünf img:hover {
                    transform: scale(1.05);
                    box-shadow: 0 15px 25px rgba(0,0,0,0.6);
                }
        

                .linktextfünf{
                    position: relative;
                    left: -95%;
                    bottom: -100%;
                }

                .shoptfünf{
                    position: relative;
                    left: -30%;
                    bottom: -10%;
                }

                  .sechs img{
                    position: relative;
                    transition: transform 0.3s ease;
                    margin-top: -100%;
                    left:12.5%;
                    top:-21%
                  }

          .sechs img:hover {
            transform: scale(1.05);
            box-shadow: 0 15px 25px rgba(0,0,0,0.6);
          }

          .linktextsechs{
            position: relative;
            left: 115%;
            bottom: 113%;
          }

          .shoptsechs{
            position: relative;
            left: -30%;
            bottom: 95.7%;
          }


      .shoptext{
            transform:scale(60%);
            width: 150%;
      }
            


  }

  @media (max-width: 800px){
      .img:hover
      {
          transform:scale(105%);
          transition: transform 0.3s ease;
      }

      .eins img:hover{
            box-shadow: 0 15px 25px rgba(0,0,0,0.6);
      }
      .zwei img:hover{
            box-shadow: 0 15px 25px rgba(0,0,0,0.6);
      }
      .drei img:hover{
            box-shadow: 0 15px 25px rgba(0,0,0,0.6);
      }
      .vier img:hover{
            box-shadow: 0 15px 25px rgba(0,0,0,0.6);
      }
      .fünf img:hover{
            box-shadow: 0 15px 25px rgba(0,0,0,0.6);
      }
      .sechs img:hover{
            box-shadow: 0 15px 25px rgba(0,0,0,0.6);
      }

  }


  @media (min-width: 800px) {
      .shoptext {   
          font-size: 240%;
      }
      
  }

  @media (max-width: 345px)
  {
      header{
            font-size: 60%;
      }
  }


  @media (min-width: 810px)
  {
      n{
            font-size: 60%;
      }
      
  }

  @media (min-width: 914px) and  (max-width: 1085px)
      {
            .linktextzwei{
                  position: relative;
                  bottom: 84%;
            }

            .linktextsechs{
                  position: relative;
                  bottom: 114%;
            }
      }

      @media (min-width: 919px) and (max-width: 1187px)
      {
            .linktextsechs{
                  position: relative;
                  bottom: 97.6%;
            }
      }

  @media (min-width: 1085px) and (max-width: 1227px)
  {
      .linktextzwei{
            position: relative;
            bottom: 80%;
      }

  }

  @media (min-width: 800px) and (max-width: 914px)  
  {
      .drei img{
            position: relative;
            width: 100%;
            left: 2%;
      }

  }

